__pycache__

*.*~

*.pyc

.idea

# Arquivos de ambiente
.venv
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/venv
db.sqlite3

.github/
.gemini/
gha-creds-*.json


#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
.codacy/
.vscode/
.playwright-mcp/