@import url('base.css');

/* Aplicando as classes base */
body {
    background: var(--cor01);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body,
header,
main {
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--cor01);
    z-index: -1;
}

header {
    width: calc(100% - 100px);
    margin: 50px;
    display: flex;
    justify-content: flex-end;

    position: absolute;
    top: 0;
}

header #perfil {
    width: 70px;
    height: 70px;
    padding: var(--spacing-xs);
    border-radius: var(--border-radius-circle);
    background: var(--cor01);
    border: none;
    cursor: pointer;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width var(--transition-fast), height var(--transition-fast);
}

header #perfil img {
    width: 60%;
}


main {
    width: calc(100% - 100px);
    margin: 50px;
}

main h1 {
    font-family: var(--font02);
    font-weight: 400;
    text-shadow: var(--shadow);
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    font-size: 2.25rem;
}

/* Aplicando a classe card-base para #opcoes */
main #opcoes {
    width: 40vw;
    margin: auto;
    font-family: var(--font01);
    padding: var(--spacing-xl);
    gap: var(--spacing-lg);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--cor03);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius-large);
    position: relative;
}

main #opcoes h2 {
    color: var(--cor01);
    font-size: 1.25rem;
}

main #opcoes button {
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    color: var(--cor03);
    padding: var(--spacing-lg);
    text-align: left;
    border-radius: var(--border-radius-medium);
    border: none;
    box-shadow: var(--shadow);
    cursor: pointer;
}

main #opcoes button:hover {
    outline: 2px solid var(--cor01);
}

main #opcoes button:active {
    background: var(--cor06);
    color: var(--cor01);
}

/* Para hover do perfil somente em telas grandes */
@media (min-width: 600px) {

    header #perfil:hover {
        width: 71px;
        height: 71px;
    }

    header #perfil:active {
        width: 69px;
        height: 69px;
    }
}

@media (max-width: 880px) {
    main #opcoes {
        width: 65vw;
    }
}

@media (max-width: 600px) {
    header {
        width: 90%;
        margin: 50px auto;
    }

    header #perfil {
        width: 50px;
        height: 50px;
    }

    main {
        width: 90%;
        margin: 0px;
    }

    main h1 {
        font-size: 1.625rem;
    }

    main #opcoes {
        width: 80vw;
    }
}

@media (max-width: 400px) {
    main #opcoes {
        width: 90vw;
        padding: 15px;
    }
}